# Documentation
.idea/
.tox
docs/_build/
.DS_STORE
.swagger*
.openapi*
docs/offeredapis/swagger/README.md
api/README.md

# Eclipse
.checkstyle
.classpath
target/
.sts4-cache
.project
.settings
.pydevproject
infer-out/

.vscode
.factorypath

coverage.*
bin/